@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
}

.site-background {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
